/*MENU*/

.menu {
    display: flex;
    margin-top: 10px;
}

.select {
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav>li {
    margin-left: 43px;
}

li {
    list-style: none;
}

nav li p {
    font-size: 25px;
}

nav img {
    width: 15px;
}

li:hover {
    cursor: pointer;
    background-color: rgba(112, 110, 110, 0.692);
}

ul>li {
    background-color: black;
}

ul {
    border-radius: 30px;
}

li>ul {
    display: none;
}

li:hover>ul {
    display: block;
}


/*BODY*/

.carruseles {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    min-width: 88em;
}

.allCarruseles {
    margin-left: 40px;
    margin-bottom: 30px;
    color: white;
}

.allCarruseles h1 {
    margin-left: 30px;
    margin-bottom: 20px;
}

.carrusele_1 {
    padding-top: 140px;
}

.caja {
    display: flex;
    align-items: center;
    height: 200px;
}

.caja>img {
    width: 30px;
    padding: 99px 5px 99px 5px;
    background-color: rgba(0, 0, 0, 0.185);
    transition: 0.3s;
}

.caja>img:hover {
    cursor: pointer;
    background-color: rgba(112, 110, 110, 0.692);
}

.portadas {
    background-color: rgba(95, 93, 93, 0.37);
    padding: 10px;
}

.caja .portadas>img {
    width: 150px;
    height: 200px;
    margin-left: 5px;
    margin-right: 5px;
    border: 10px outset;
    border-image-slice: 1;
    border-width: 2px;
    border-image-source: linear-gradient(to right, rgb(0, 0, 0), rgb(131, 131, 131));
    transition: 0.5s;
}

.caja .portadas>img:hover {
    cursor: pointer;
    transform: scale(1.2);
}