main {
    margin-bottom: 7em;
}

.form {
    display: flex;
    flex-direction: column;
    line-height: 50px;
    max-width: 40em;
    background: radial-gradient(rgba(36, 36, 36, 0.575), rgb(0, 0, 0));
    border: 2px solid transparent;
    box-shadow: black 10px 10px 20px;
    border-radius: 20px;
    color: rgb(255, 255, 255);
}

.form h1 {
    font-size: 40px;
    color: rgb(255, 255, 255);
    text-shadow: rgb(0, 0, 0) 5px 5px 3px;
    line-height: 70px;
    text-align: center;
}

.form hr {
    width: 100%;
}

.campo {
    line-height: 60px;
}

.campo input {
    font-size: 17px;
}

.campo label {
    font-size: 20px;
    font-weight: bold;
}

.fecha {
    width: 13.5em;
}

#cb {
    width: 15px;
    height: 15px;
    margin-right: 5px;
}

.label {
    text-align: end;
    padding-right: 20px;
}

.c3 a {
    color: white;
}

.c3 div.col-6:first-child {
    text-align: end;
    padding-right: 20px;
}

.c4 {
    text-align: center;
    color: white;
}

#accederB {
    background: radial-gradient(rgb(0, 0, 0) -50%, rgb(255, 0, 0));
    margin-right: 20px;
    border: none;
    padding: 8px;
    color: white;
    font-weight: bold;
}

#accederB:hover {
    color: white;
    background: radial-gradient(rgb(245, 27, 27), rgb(143, 141, 141));
}