.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 50px;
    background: radial-gradient(rgb(163, 161, 161), rgb(87, 85, 85)) padding-box, linear-gradient(to right, red, purple, blue) border-box;
    border: 5px solid transparent;
    border-radius: 20px;
    color: white;
}

.form h1 {
    font-size: 50px;
    color: black;
    text-shadow: rgb(255, 0, 0) 3px 3px 8px;
    line-height: 70px;
}

.form hr {
    width: 100%;
}

.campo {
    display: flex;
    flex-direction: row;
    line-height: 60px;
}

.campo input {
    font-size: 20px;
}

.campo label {
    margin-right: 20px;
    font-size: 30px;
    font-weight: bold;
}

#cb {
    width: 20px;
    height: 20px;
}

.c3 {
    text-align: center;
}

.c4 {
    text-align: center;
}

.c4 input {
    border: outset rgb(71, 70, 70) 4px;
}

.c4 input:hover {
    cursor: pointer;
}

#acceder {
    background: radial-gradient(rgb(255, 255, 255), rgb(3, 189, 3));
}

#acceder:hover {
    background: radial-gradient(rgb(3, 189, 3), rgb(143, 141, 141));
}

#limpiar {
    background: radial-gradient(rgb(255, 255, 255), red);
}

#limpiar:hover {
    background: radial-gradient(red, rgb(143, 141, 141));
}